<div class="ftr">
    <div class="row">
    <div class="col-sm-4" style="border-top: 1px solid black">
      </div>
      <div class="col-sm-4 footerhead">
        <h2 style="text-decoration: underline;font-variant: small-caps">GoodReads</h2>
        </div>
        <div class="col-sm-4" style="border-top: 1px solid black">
          </div>
  </div>


  <div class="row" >
      <div class="col-sm-4">
          <ul class="list-left list-unstyled">
              <li>
                  <button>TERMS & CONDITIONS </button>
              </li>
              <li>
                <button>PRIVACY POLICY</button>
              </li>
              
            </ul>
        </div>
        <div class="col-sm-4 icons" align="center">
          <img src="assets/f.png">
          <img src="assets/t.png">
          <img src="assets/g.png">
          <img src="assets/i.png">
        </div>
          <div class="col-sm-4">
              <ul class="list-right list-unstyled">
                  <li>
                      <button routerLink="/home">RETURN TO HOME</button>
                  </li>
                  <li>
                      <button>BOOK OF THE MONTH</button>
                  </li>

                  
                  
                </ul>
            </div>
    </div>
</div>