<div class="llog">
<div align="center">
    <div class="example-container">
      <h1 style="color:#11073a;font-size:300% ">Login</h1><br>
      <mat-form-field class="pad">
        <input matInput id="username" placeholder="Username" required>
      </mat-form-field>
      <br>
      
      <mat-form-field class="pad">
        <input type="password" id="password" matInput placeholder="Password" required minLength="5">
      </mat-form-field>
    </div>
    <br><br>
    <div class="pad">
      <mat-checkbox>Remember Me</mat-checkbox>
    </div>
    <BR><br>
    <div class="pad">
      <button mat-raised-button class="btns" routerLink="/home">Login</button> &nbsp;&nbsp;&nbsp;
      <button mat-raised-button  class="btns" routerLink="/signup">Sign Up</button>&nbsp;&nbsp;&nbsp;
      <button mat-raised-button class="btns">Forgot Password?</button>
    </div>
  </div>
</div>
